:root{
    --primary: #3d5a80;
    --secondary: #98c1d9;
    --extra: #ee6c4d;
    --tertiary: #e0fbfc;
    --base: #293241;


}
body{
    background-color: var(--secondary);
}
img{
    height: auto;
    width: 100%;
}
.heading{
    background-color: var(--primary);
    margin: 2em;
    padding: 1em;
    color: var(--tertiary);
    font-size: large;
    font-weight: bold;
}

.pizza{
    background-color: var(--base);
    color: var(--tertiary);
}

.pizza > div{
    background-color: var(--extra);
    
    margin: .5em;
    padding: 1em;
    border: .5em solid var(--tertiary);
}